fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pytest
httpx
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
requests
pyyaml
python-multipart
pandas
openpyxl
xlrd
pgvector
opik
redis>=5.0
sentence-transformers
